@mixin absoluteComplete {
  position: absolute;
  height: 100%;
  width: 100%;
}

@mixin marginAuto {
  margin-right: auto;
  margin-left: auto;
}

@mixin topLeftTranslate {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
}

@mixin heightWidthTen {
  height: 10%;
  width: 10%;
}

@mixin topLeftZero {
  top: 0%;
  left: 0%;
}

@mixin layer {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  z-index: 25;
}

@mixin facesLayer {
  position: absolute;
  height: 90%;
  width: 60%;
  top: 50%;
}

@mixin charactersLayer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0%;
  display: block;
  mix-blend-mode: saturation;
  background-color: black;
  z-index: 100;
}

@mixin mediaQueriesCharactersName {
  @media (min-width: $breakpoint-large) {
    bottom: 3%;
  }
  @media (min-width: $breakpoint-xlarge) {
    font-size: 13rem;
  }

  @media (min-width: $breakpoint-huge) {
    font-size: 18rem;
  }
}

@mixin charactersBody {
  display: block;
  margin-right: auto;
  margin-left: auto;
  
  @media (min-width: $breakpoint-large) {
      transform: scale(1.2);
  }

  @media (min-width: $breakpoint-xlarge) {
      transform: scale(1.4);
  }

  @media (min-width: $breakpoint-huge) {
      transform: scale(2);
  }
}












   