//FONTS
$robotoCondensed: "Roboto Condensed", sans-serif;
$roboto: "Roboto", sans-serif;

//COLORS
$white: #fff;
$gold: #A78650;

// BREAKPOINTS

$breakpoint-large: 1680px; //desktop 20pouces
$breakpoint-xlarge: 1920px; //large desktop 21pouces
$breakpoint-huge: 2560px; //très grand écran desktop 27pouces


