.kalash,
.heels,
.champagne,
.perfume {
    @include heightWidthTen;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    border: .1rem solid rgba($gold, .2);
}

.kalash {
    background-image: url("./img/kalash.svg");
    background-size: 80% 80% !important;
}

.heels {
    background-image: url("./img/heels.svg");
}

.champagne {
    background-image: url("./img/champagne.svg");
    background-size: 50% 50% !important;
}

.perfume {
    background-image: url("./img/perfume.svg");
}
